[submodule "taplogin"]
	path = taplogin
	url = git@github.com:TapTap/TapLogin-Unity.git
[submodule "tapbootstrap"]
	path = tapbootstrap
	url = git@github.com:TapTap/TapBootstrap-Unity.git
[submodule "tapmoment"]
	path = tapmoment
	url = git@github.com:TapTap/TapMoment-Unity.git
[submodule "tapdb"]
	path = tapdb
	url = git@github.com:TapTap/TapDB-Unity.git
[submodule "tapcommon"]
	path = tapcommon
	url = git@github.com:TapTap/TapCommon-Unity.git
[submodule "taplicense"]
	path = taplicense
	url = git@github.com:TapTap/TapLicense-Unity.git

[submodule "tapachievement"]
	path = tapachievement
	url = git@github.com:taptap/TapAchievement-Unity.git
[submodule "tapsupport"]
	path = tapsupport
	url = git@github.com:taptap/TapSupport-Unity.git
[submodule "tapfriends"]
	path = tapfriends
	url = git@github.com:taptap/TapFriends-Unity.git
[submodule "taprtc"]
	path = taprtc
	url = git@github.com:taptap/TapRTC-Unity.git
